/**
 * The contents of this file are subject to the license and copyright
 * detailed in the LICENSE and NOTICE files at the root of the source
 * tree and available online at
 *
 * http://www.dspace.org/license/
 */

/**
 * You can put your own style in this file.
 * It will be included in all color schemes
 */

//example mixin to set the text-selection style
@mixin selection {
    ::-moz-selection { @content; }
    ::selection { @content; }
}

@include selection {
    color: white;
    background: #D85451;
}

/* Estilo encabezado */
img#logo-header{
   height: 135%;
}
h1#titulo-header{
   color: #FFFFFF; 
   font-size:260%;
}
/*Para que el logo en la barra de navegación se vea grande anulamos el padding*/
.sin-padding{
    padding: 0px 0px;
}
/* Para el pie de página, links e imagenes*/
img.logo{
    width: 30px; 
    height: 30px;
}
img#logo-ubic{
    padding: 5px 10px;
}
div#letra-pie{
    font-size:12px;
}
ul#menu li {
    display:inline;
    padding: 5px 0px;
}
.padding-footer{
	padding-right:30px;
}

/* Hace que la barra de navegación mantenga el fondo hasta el final de la página, como hace el main-container*/
.sidebar-blanco{
    padding-bottom: 99999px;
    margin-bottom: -99979px;
}

/*clases agregadas para crear el visor de imagenes de la pagina de inicio de la web
la clase slider es utilizada por un div que se crea mediante el elements.xsl*/
.slider{
    margin: auto;
    overflow: hidden;
    padding: 0;
}
.slider ul{
    display: flex;
    padding: 0;
    width: 400%;
    
    animation: cambio 20s infinite alternate;
}
.slider li{
    width: 100%;
    list-style: none;
}
.slider img{
    width: 100%
}
@keyframes cambio{
    0% { margin-left: 0%;}
    20% { margin-left: 0%;}
    25% { margin-left: -100%;}
    45% { margin-left: -100%;}
    50% { margin-left: -200%;}
    70% { margin-left: -200%;}
    75% { margin-left: -300%;}
    95% { margin-left: -300%;}
    100% { margin-left: -400%;}
}


