/**
 * The contents of this file are subject to the license and copyright
 * detailed in the LICENSE and NOTICE files at the root of the source
 * tree and available online at
 *
 * http://www.dspace.org/license/
 */

/**
 * You can put your own style in this file.
 * It will be included in all color schemes
 */

//example mixin to set the text-selection style
@mixin selection {
    ::-moz-selection { @content; }
    ::selection { @content; }
}

@include selection {
    color: white;
    background: #D85451;
}

/* Estilo encabezado */
img#logo-header{
    height: 135%;
}
h1#titulo-header{
    color: #FFFFFF; 
    font-size:260%;
    font-family: 'Droid Serif', serif;
}
/*Para que el logo en la barra de navegación se vea grande anulamos el padding*/
.sin-padding{
    padding: 0px 0px;
}
/* Para el pie de página, links e imagenes*/
img.logo-contacto{
    width: 30px; 
    height: 30px;
}
img.logo-cc{
    width: 95px; 
    height: 27px;
}
img#logo-ubic{
    padding: 5px 10px;
}
div#letra-pie{
    font-size:12px;
}
ul#menu li {
    display:inline;
    padding: 5px 0px;
}
.padding-footer{
    padding-right:30px;

}

/* Hace que la barra de navegación mantenga el fondo hasta el final de la página, como hace el main-container*/
.sidebar-blanco{
    padding-bottom: 99999px;
    margin-bottom: -99979px;
}

/*clases agregadas para crear el visor de imagenes de la pagina de inicio de la web
la clase slider es utilizada por un div que se crea mediante el elements.xsl
.slider{
    margin: auto;
    overflow: hidden;
    padding: 0;
}
.slider ul{
    display: flex;
    padding: 0;
    width: 400%;
    
    animation: cambio 20s infinite alternate;
}
.slider li{
    width: 100%;
    list-style: none;
}
.slider img{
    width: 100%
}
*/
.slider{
    overflow:hidden;
    padding:0;
    width:24.5%;
    float:left;
    margin:0px 0px 0px 3px;
}
.slider ul{
    display:flex;
    padding:0;
    width:200%;
    transition: 1.5s
}
.slider ul:hover{
    margin-left: -100%
}
.slider li{
    width:100%;
    list-style:none;
}
.slider img{
    width:100%
}
@keyframes cambio{
    0% { margin-left: 0%;}
    20% { margin-left: 0%;}
    25% { margin-left: -100%;}
    45% { margin-left: -100%;}
    50% { margin-left: -200%;}
    70% { margin-left: -200%;}
    75% { margin-left: -300%;}
    95% { margin-left: -300%;}
    100% { margin-left: -400%;}
}
#ayuda{
    width: 80%; 
    height: 80%;
}
#footer-color{
    background-color: #B5BBC2;
}
#link-dspace{
    color: #1D1D1D;
}

// Clase redefinida para manejar el tamaño del body
.container-prueba{
    margin-right:auto;
    margin-left:auto;
    padding-left:15px;
    padding-right:15px}
.container-prueba:before,.container-prueba:after{content:" ";display:table}
.container-prueba:after{clear:both}
@media (min-width: 768px){.container-prueba{width:750px}}
@media (min-width: 992px){.container-prueba{width:970px}}
@media (min-width: 1200px){.container-prueba{width:1170px}}
@media (min-width: 1500px){.container-prueba{width:1470px}}

// Da estilo a la lista ubicada a la derecha de la pantalla
#ds-options2 .ds-option-set-head{
    color:#777;
    text-transform:uppercase;
    text-shadow:0px 1px 0px rgba(255,255,255,0.5);
    margin-bottom:5px
}
// Estilo para el div del titulo
.degrade-body{
    background-image: -moz-linear-gradient(center top , #000000 0%, #0c484c 20%, #0c484c 50%, #000000 100%);
}
.degrade-banner{
    background-image:url(/xmlui/themes/Mirage2/images/banner.png);
    height: 100px;
}
.bordes{
    border-radius: 20px;
}
.transparente{
    background-color: transparent !important;
}